.content {
    &.contact {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            margin-top: 20px;
        }
    }
}