nav {
    .nav-container {
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sm {
            flex-direction: column;
            gap: 20px;
        }
        
        .navToggler {
            display: none;
            @include sm {
                display: inline;
                padding: 5px 25px;
                background-color: black;
                color: #F8F7EF;
                border-radius: 25px;
                transform: rotate(0deg);
                transition: transform 0.2s;
                &:hover {
                    border-color: #8F8F8F;
                    color: #8F8F8F;
                    cursor: pointer;
                }
                span {
                    font-size: 2.5rem;
                    font-weight: 700;
                }
                i {
                    margin-left: 10px;
                    font-size: 2.5rem;
                }
                &.down {
                    i {
                        transform: rotate(180deg);
                        transition: transform 0.3s;
                    }
                }
                &.up {
                    i {
                        transform: rotate(0deg);
                        transition: transform 0.1s;
                    }
                }
            }
        }

        ul {
            display: flex;
            gap: 40px;
            @include sm{
                display: none;
            }
            &.show {
                @include sm {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 50px;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 25px;
                }
            }

            li {
                a {
                    padding-bottom: 1px;
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: #8F8F8F;
                    &:hover {
                        padding-bottom: 0;
                        border-bottom: 1px solid black;
                        color: black;
                        transition: color 1s;
                    }
                }   
                &.active {
                    a {
                        color: black;
                        border-bottom: 1px solid black;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}