nav {
    .nav-container {
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sm {
            flex-direction: column;
            gap: 10px;
        }
        
        .navToggler {
            display: none;
            @include sm {
                display: inline;
                padding: 5px 25px;
                background-color: var(--accent);
                border-radius: 25px;
                transform: rotate(0deg);
                transition: transform 0.2s;
                &:hover {
                    cursor: pointer;
                }
                span {
                    color: white;
                    font-size: 2.5rem;
                    font-weight: 700;
                }
                i {
                    margin-left: 10px;
                    font-size: 2.5rem;
                    color: #f7f7f7;
                }
                &.down {
                    i {
                        transform: rotate(180deg);
                        transition: transform 0.3s;
                    }
                }
                &.up {
                    i {
                        transform: rotate(0deg);
                        transition: transform 0.1s;
                    }
                }
            }
        }

        ul {
            display: flex;
            gap: 40px;
            @include sm{
                display: none;
            }
            &.show {
                @include sm {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 50px;
                    background-color: var(--accent-2);
                    border-radius: 25px;
                }
            }

            li {
                a {
                    padding-bottom: 2;
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: #8F8F8F;
                    &:hover {
                        color: var(--text-color);
                        transition: color 0.5s;
                        @include sm {
                            color: white;
                        }
                    }
                }   
                &.active {
                    a {
                        color: var(--text-color);
                        border-bottom: 2px solid var(--text-color);
                        padding-bottom: 0;
                        @include sm {
                            color: white;
                            border-color: white;
                        }
                    }
                }
            }
        }
        .theme {
            position: absolute;
            top: 30px;
            right: 20px;
            cursor: pointer;
            i {
                font-size: 2rem;
            }
        } 
    }
}